
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}


#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #2d3853;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  margin: 0;
}

nav a:hover {
  color: #38bdf8;
}

nav div {
  display: flex;
  align-items: center;
}

nav a:not(:last-child)::after {
  content: "|";
  margin: 0 8px; 
}






header {
  text-align: center;
  padding: 100px 20px;
  animation: fadeIn 1.5s ease;
}
h1{
  color: rgb(62, 197, 246);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
a:hover {
  transform: scale(1.1);
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}



section {
  padding: 60px 20px;
  text-align: center;
  color: white;
  
}
p{
  font-style: italic;
  color: white;
}


.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: 1s;
}


.skill {
  width: 80%;
  margin: 20px auto;
}

.bar {
  background: #1e293b;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 10px;
  width: 0;
  background: #38bdf8;
  animation: load 2s forwards;
}

.progress.html { width: 90%; }
.progress.css { width: 80%; }
.progress.js { width: 70%; }

@keyframes load {
  from { width: 0; }
}


.projects {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
}
.next-link{
	text-decoration:none;
	font-weight:bold;
	color:white;
	font-size:20px;
}
.font{
	text-decoration:none;
	font-style:italic;
	font-size:15px;
}
.card {
  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(8px);
  padding: 20px;
  margin: 15px;
  border-radius: 15px;
  width: 280px;
  display: inline-block;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

h4{
  background: linear-gradient(to right, #38bdf8, #22c55e);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 30px;
}


input, textarea {	
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 15px #38bdf8;
}


footer {
  padding: 20px;
  text-align: center;
  color: #94a3b8;
}
.success-box {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #22c55e;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);

  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;

  transition: 0.4s ease;
}


.success-box.show {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 600px) {

  nav {
    flex-direction: column;
    text-align: center;
  }

  header {
    padding: 40px 10px;
  }

  section {
    padding: 20px;
  }

  .card {
    display: block;
    width: 90%;
    margin: 10px auto;
  }

  input, textarea {
    width: 90%;
  }
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

